\.DS_Store

queryTranslation\.txt
*.log
*.log.*
\.idea/
=======
.idea/
*.iml

_site/
docs/_site/

src/test/resources/TestServices/output/*.ttl
out/
*.class

#gradle/
#!**build/libs/hypergraphql-3.0.*-exe.jar
#!**build/libs/hypergraphql-3.0.*.jar
#!**build/libs/hypergraphql-3.0.3-exe.jar
#!**build/libs/hypergraphql-3.0.3.jar
#!**gradle/wrapper/gradle-wrapper.jar

